---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { ItemGrid } from '~/types';
import Button from './Button.astro';

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props as ItemGrid;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
  supportedLanguages: [String] = []
} = classes;
---

{
  items && (
    <div
      class={twMerge(
        `grid gap-8 gap-x-12 sm:gap-y-8 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
        }`,
        containerClass
      )}
    >
      {items.map(({ title, description, icon, callToActions, classes: itemClasses = {}, supportedLanguages }) => (
        <div class={twMerge('relative flex flex-col', panelClass, itemClasses?.panel)}>
          {(icon || defaultIcon) && (
            <Icon name={icon || defaultIcon} class={twMerge('mb-2 w-10 h-10', defaultIconClass, itemClasses?.icon)} />
          )}
          <div class={twMerge('flex text-xl font-bold justify-center', titleClass, itemClasses?.title)}>{title}</div>
          {description && (
            <p class={twMerge('text-muted mt-2 justify-center text-center', descriptionClass, itemClasses?.description)} set:html={description} />
          )}
          {supportedLanguages && <div class="mt-4 h-12 justify-center">
            <div class="flex justify-center">
            {supportedLanguages.map((language) => <a href={language.href}><Icon class="h-full w-10 mx-2" name={language.icon_name}/></a>)}
            </div>
          </div>
          }
          {callToActions && callToActions.map((callToAction) => 
            <div class="flex mt-2 justify-center">
              <Button {...callToAction} />
            </div>
          )}
        </div>
      ))}
    </div>
  )
}
